<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziroom.ferrari.dao.DataChangeMessageDao" >
    <resultMap id="BaseResultMap" type="com.ziroom.ferrari.domain.DataChangeMessage" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="msg_id" property="msgId" jdbcType="VARCHAR" />
        <result column="msg_system" property="msgSystem" jdbcType="VARCHAR" />
        <result column="msg_module" property="msgModule" jdbcType="VARCHAR" />
        <result column="msg_function" property="msgFunction" jdbcType="VARCHAR" />
        <result column="msg_status" property="msgStatus" jdbcType="INTEGER" />
        <result column="change_type" property="changeType" jdbcType="INTEGER" />
        <result column="change_data" property="changeData" jdbcType="VARCHAR" />
        <result column="change_time" property="changeTime" jdbcType="BIGINT" />
        <result column="produce_time" property="produceTime" jdbcType="BIGINT" />
        <result column="consume_time" property="consumeTime" jdbcType="BIGINT" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, msg_id, msg_system, msg_module, msg_function, msg_status, change_type, change_data,
        change_time, produce_time, consume_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from t_data_change_message
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from t_data_change_message
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.ziroom.ferrari.domain.DataChangeMessage" >
        insert into t_data_change_message (id, msg_id, msg_system,
        msg_module, msg_function, msg_status,
        change_type, change_data, change_time,
        produce_time, consume_time)
        values (#{id,jdbcType=BIGINT}, #{msgId,jdbcType=VARCHAR}, #{msgSystem,jdbcType=VARCHAR},
        #{msgModule,jdbcType=VARCHAR}, #{msgFunction,jdbcType=VARCHAR}, #{msgStatus,jdbcType=INTEGER},
        #{changeType,jdbcType=INTEGER}, #{changeData,jdbcType=VARCHAR}, #{changeTime,jdbcType=BIGINT},
        #{produceTime,jdbcType=BIGINT}, #{consumeTime,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="com.ziroom.ferrari.domain.DataChangeMessage" >
        insert into t_data_change_message
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="msgId != null" >
                msg_id,
            </if>
            <if test="msgSystem != null" >
                msg_system,
            </if>
            <if test="msgModule != null" >
                msg_module,
            </if>
            <if test="msgFunction != null" >
                msg_function,
            </if>
            <if test="msgStatus != null" >
                msg_status,
            </if>
            <if test="changeType != null" >
                change_type,
            </if>
            <if test="changeData != null" >
                change_data,
            </if>
            <if test="changeTime != null" >
                change_time,
            </if>
            <if test="produceTime != null" >
                produce_time,
            </if>
            <if test="consumeTime != null" >
                consume_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="msgId != null" >
                #{msgId,jdbcType=VARCHAR},
            </if>
            <if test="msgSystem != null" >
                #{msgSystem,jdbcType=VARCHAR},
            </if>
            <if test="msgModule != null" >
                #{msgModule,jdbcType=VARCHAR},
            </if>
            <if test="msgFunction != null" >
                #{msgFunction,jdbcType=VARCHAR},
            </if>
            <if test="msgStatus != null" >
                #{msgStatus,jdbcType=INTEGER},
            </if>
            <if test="changeType != null" >
                #{changeType,jdbcType=INTEGER},
            </if>
            <if test="changeData != null" >
                #{changeData,jdbcType=VARCHAR},
            </if>
            <if test="changeTime != null" >
                #{changeTime,jdbcType=BIGINT},
            </if>
            <if test="produceTime != null" >
                #{produceTime,jdbcType=BIGINT},
            </if>
            <if test="consumeTime != null" >
                #{consumeTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ziroom.ferrari.domain.DataChangeMessage" >
        update t_data_change_message
        <set >
            <if test="msgId != null" >
                msg_id = #{msgId,jdbcType=VARCHAR},
            </if>
            <if test="msgSystem != null" >
                msg_system = #{msgSystem,jdbcType=VARCHAR},
            </if>
            <if test="msgModule != null" >
                msg_module = #{msgModule,jdbcType=VARCHAR},
            </if>
            <if test="msgFunction != null" >
                msg_function = #{msgFunction,jdbcType=VARCHAR},
            </if>
            <if test="msgStatus != null" >
                msg_status = #{msgStatus,jdbcType=INTEGER},
            </if>
            <if test="changeType != null" >
                change_type = #{changeType,jdbcType=INTEGER},
            </if>
            <if test="changeData != null" >
                change_data = #{changeData,jdbcType=VARCHAR},
            </if>
            <if test="changeTime != null" >
                change_time = #{changeTime,jdbcType=BIGINT},
            </if>
            <if test="produceTime != null" >
                produce_time = #{produceTime,jdbcType=BIGINT},
            </if>
            <if test="consumeTime != null" >
                consume_time = #{consumeTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ziroom.ferrari.domain.DataChangeMessage" >
    update t_data_change_message
    set msg_id = #{msgId,jdbcType=VARCHAR},
      msg_system = #{msgSystem,jdbcType=VARCHAR},
      msg_module = #{msgModule,jdbcType=VARCHAR},
      msg_function = #{msgFunction,jdbcType=VARCHAR},
      msg_status = #{msgStatus,jdbcType=INTEGER},
      change_type = #{changeType,jdbcType=INTEGER},
      change_data = #{changeData,jdbcType=VARCHAR},
      change_time = #{changeTime,jdbcType=BIGINT},
      produce_time = #{produceTime,jdbcType=BIGINT},
      consume_time = #{consumeTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>